name: tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  bundled-test:
    strategy:
      matrix:
        os: [
          ubuntu-latest,
          macos-13,
          macos-14, # macOS arm runner
          windows-latest,
          ubuntu-24.04-arm
        ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Install requirements on ubuntu
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y libblas-dev liblapack-dev zlib1g-dev libmetis-dev

      - name: Install requirements on macos
        if: matrix.os == 'macos-latest' || matrix.os == 'macos-14'
        run: |
          cargo b --features bundled --release
          cargo t --features bundled --release create
          cargo t --features bundled --release --examples     

#  bundled-debug-test:
#    strategy:
#      matrix:
#        os: [
#          ubuntu-latest,
#          macos-13,
#          macos-14, # macOS arm runner
#          windows-latest,
#        ]
#    runs-on: ${{ matrix.os }}
#    steps:
#      - uses: actions/checkout@v3
#      - name: Test bundled
#        run: |
#          cargo b --features bundled
#          cargo t --features bundled create
#          cargo t --features bundled --examples
          brew install gcc
          brew info gcc

      - name: Test bundled (if not mac)
        if: matrix.os == 'ubuntu-latest' || matrix.os == 'windows-latest'
        run: |
          cargo b --features bundled,static 
          cargo t --features bundled,static create
          cargo t --features bundled,static --examples

      - name: Test bundled (if mac)
        if: matrix.os == 'macos-latest' || matrix.os == 'macos-14'
        run: |
          export LIBRARY_PATH=$LIBRARY_PATH:/opt/homebrew/Cellar/gcc/14.2.0/lib/gcc/14
          export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/opt/homebrew/Cellar/gcc/14.2.0/lib/gcc/14
          cargo b --features bundled,static --no-default-features
          cargo t --features bundled,static create
          cargo t --features bundled,static --examples

  from-source-test:
    strategy:
      matrix:
        os: [
          macos-13,
          macos-14,
          ubuntu-latest,
          windows-latest,
        ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Install bison
        if: ${{ matrix.os == 'macos-13' || matrix.os == 'macos-14' }}
        run: |
          brew install bison gcc
      - name: Test from-source
        run: |
          cargo b --features from-source -vv
          cargo t --features from-source create
          cargo t --features from-source --examples

  linux-conda-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: test
          allow-softlinks: true

      - name: Install dependencies (SCIPOptSuite)
        run: |
          conda install -y --prefix $CONDA/envs/test --channel conda-forge scip
          echo "LD_LIBRARY_PATH=$CONDA/envs/test/lib" >> "${GITHUB_ENV}"
          echo "CONDA_PREFIX=$CONDA/envs/test" >> "${GITHUB_ENV}"

      - name: Test
        run: |
          cargo b -vv
          cargo t create
          cargo t --examples

#  from-source-linux-arm-test:
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v3
#
#      - name: Set up QEMU for ARM64 emulation
#        uses: docker/setup-qemu-action@v2
#        with:
#          platforms: arm64
#
#      - name: Run test in ARM64 environment
#        run: |
#          docker run --rm --platform linux/arm64 \
#            -v ${{ github.workspace }}:/workspace \
#            -w /workspace \
#            rust:latest /bin/bash -c "
#              cargo build --features from-source -vv
#              cargo test --features from-source create
#              cargo test --features from-source --examples
#            "